<phpunit
        colors="true"
        bootstrap="./tests/bootstrap.php"
        convertErrorsToExceptions="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
    >
    <testsuites>
        <testsuite name="UnitTest">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="IntegrationTest">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="128M" />
    </php>
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
